<app-upload-anual-plan></app-upload-anual-plan>
<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Annual Plan Registration</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <!-- Audit Year -->
        <div class="form-group">
          <label>Audit Year</label>
          <app-combo-items  [control]="audit_year" [url]="'/setting/year/get'" ></app-combo-items>
        </div>
        <!-- Audit Subject -->
        <div class="form-group">
          <label>Audit Object</label>
          <app-combo-items  [control]="audit_subject" [url]="'/object/get'" ></app-combo-items>
        </div>
        <!-- Auditees -->
        <div class="form-group">
          <label>Auditees</label>
          <app-combo-items  [control]="auditees" [url]="'/ou/get'" ></app-combo-items>
        </div>

      </div>
     <!-- Comluman -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Audit Team</label>
          <app-combo-items  [control]="audit_type" [url]="'/type/get'" ></app-combo-items>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Risk Score</label>
          <input type="number" class="form-control" [formControl]="risk_score" placeholder="Risk Score">
        </div>
        <div class="form-group">
          <label>Risk Level</label>
          <app-combo-items  [control]="risk_level" [url]="'/setting/risk/get'" ></app-combo-items>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="card-footer">
  <button type="submit" class="btn btn-primary" (click)="addAnualPlan()">add</button>
</div>
<div class="card-header">
  <h3 class="card-title">Annual Plan List</h3>
</div>
<app-anual-plan-list [plan]="planList"></app-anual-plan-list>


