<h1>Creting employee</h1>
<div class="container">
  <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col-md-2">
        <app-input [control]="f['emp_id']" [submitted]="submitted" [label]="'Employe ID'"></app-input>
      </div>
      <div class="col-md-3">
        <app-input [control]="f['firist_name']"  [submitted]="submitted" [label]="'First Name'"></app-input>
      </div>
      <div class="col-md-3">
        <app-input [control]="f['midle_name']"  [submitted]="submitted" [label]="'Middle Name'"></app-input>
      </div>
      <div class="col-md-3">
        <app-input [control]="f['last_name']"  [submitted]="submitted" [label]="'Last Name'"></app-input>
      </div>
</div>
<div row >
  <app-combo-items></app-combo-items>
</div>
    
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right">
        Reset
      </button>
    </div>
  </form>
</div>

<!-- WesendB@Shemta123321 -->