<div class="register-form">
  <form [formGroup]="empForm" (ngSubmit)="onSubmit()">

    <app-input [formControle]="f['emp_id']" [submitted]="submitted" [label]="'Employe ID'"></app-input>
    <app-input [formControle]="f['firist_name']"  [submitted]="submitted" [label]="'First Name'"></app-input>
    
    <!-- <div class="form-group">
      <label>Emp ID</label>
      <input
        type="text"
        formControlName="emp_id"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['emp_id'].errors }"
      />
      <div *ngIf="submitted && f['emp_id'].errors" class="invalid-feedback">
        <div *ngIf="f['emp_id'].errors['required']">Employe ID Is required</div>
      </div>
    </div> -->

    <!-- <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        [formControl]="emp_id"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && emp_id.errors }"
      />
      <div *ngIf="submitted && emp_id.errors" class="invalid-feedback">
        <div *ngIf="emp_id.errors['required']">Username is required</div>
        
        <div *ngIf="emp_id.errors['required']">
          First Name Requres
        </div>
        <div *ngIf="emp_id.errors['minlength']">
          First Name must be at least 2 characters
        </div>
        <div *ngIf="emp_id.errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div> 
    -->


    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>