
   <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Plan List</h3>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Audit Name</th>
                <th>Auditees</th>
                <th>Team</th>
                <th>Year</th>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let audit of plan  even: 'even-row'; odd: 'odd-row'" >
                <td>{{audit.plan_id}}</td>
                <td>{{audit.audit_name}}</td>
                <td>{{audit.auditees_name}}</td>
                <td>{{audit.audit_team_name}}</td>
                <td>{{audit.plan_year}}</td>
                <td><a [routerLink]="['/detail' , getString(audit)]">Plan Detail</a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
    
