<h1>Annual Plan Year:{{ year }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>audit object</label>
  <app-combo-items
    [control]="f['audit_subject']"
    [url]="'object/get'"
  ></app-combo-items>

  <label>Auditees</label>
  <app-combo-items [control]="f['auditees']" [url]="'ou/get'">
  </app-combo-items>

  <label>Risk Level</label>
  <app-combo-items [control]="f['risk_level']" [url]="'setting/risk/get'">
  </app-combo-items>
  <app-input [control]="f['risk_score']" [label]="'Risk Score'"></app-input>
  <div class="container-fluid">
    <button type="submit" class="btn btn-primary">Register</button>
    <button
      type="button"
      (click)="onReset()"
      class="btn btn-warning float-right"
    >
      Reset
    </button>
  </div>
</form>
