<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">{{ auditObject.name }}</h3>
    <div class="card-tools">
      <button mat-flat-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table>
      <tr>
        <th>{{ auditObject.description }}</th>
      </tr>
    </table>
  </div>
  <div class="card-footer"></div>
</div>
