<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <app-input [control]="f['name']" [submitted]="submitted" [label]="'Unit Name'"></app-input>
      
    <div class="form-group">
      <label>Unit Level</label>
      <app-combo-items  [control]="f['organ_level']" [url]="'unitl/get'" ></app-combo-items>
    </div>
    <div class="form-group">
      <label>Parent Unit</label>
      <app-combo-items  [control]="f['parent_ou']" [url]="'ou/get'" ></app-combo-items>
    </div>

    <div class="form-group">
      <label>Unit Type</label>
      <app-combo-items  [control]="f['organ_type']" [url]="'oc/get'" ></app-combo-items>
    </div>

    
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    </form>
  </div>